@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  h1 {
    @apply text-3xl font-bold tracking-tight text-base-content sm:text-4xl lg:text-5xl mt-8 md:mt-0;
  }
}

.outlined {
  position: relative;
  color: white;
  padding: 2px 6px;
}

.outlined::after {
  content: "";
  height: 90%;
  width: 101%;
  background-color: #2a55d6;
  position: absolute;
  top: 4px;
  left: 0;
  transform: rotate(359deg);
  -webkit-transform: rotate(359deg);
  z-index: -1;
}

.ring-primary {
  --tw-ring-opacity: 1;
  --tw-ring-color: oklch(0.64 0.18 259.69);
}

.badge-primary {
  background-color: #2a55d6;
  border-radius: 5%;
}

.bouton-primary {
  background-color: #3b82f6;
  color: white;
}



.border-primary {
  border-color: #3b82f6;
}

.text-primary {
  color: #3b82f6;
}

.bg-primary\/10 {
  background-color: #3b83f64b;
}
